ul {
	list-style-type; none;
	margin: 0;
	padding: 0; 
	overflow: hidden;
	background-color: green;
}

/*This code will have each ;ist item float left so that it can be displayed horizantally*/
li {
	float: left;
}

li a {
	display: block;
	color: yellow;
	text-align: center;
	padding: 14px 16px;
	text-decoretion: none;
}

li a:hover {
	background-color: darkblue;
}